body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.header {
    padding: 300px 0;
    color: #f8f8f8;
    background: url(../assets/octo.png) no-repeat center center;
    background-size: cover;
    background-color: #1b1b1b;
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}