<section id="about" class="container-fluid py-5 bg-light">

  <div class="row justify-content-center">

    <div class="col-lg-6 text-center">

      <h2 class="mb-3">About {{ site.title }}</h2>

      <p>
        Octillect <i>[octopus + intellect]</i> can manage tasks on project level, made for developers,
        used to plan workflows and organize tasks to keep your teamwork on schedule and track
        the board's progress. The Application enables teams to collaborate effectively
        by tracking time of tasks, assigning tasks to specific team members and taging tasks.
      </p>

      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/aS2aax2nUVI" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

    </div>

  </div>

</section>