@import "Palette.css"

.list-cell {
   -fx-background-color: -o-dark-700;
   -fx-text-fill: -o-dark-300;
}

.list-cell:hover {
   -fx-background-color: derive(-o-dark-700, -16%);
}

.arrow {
    -fx-background-color: -o-primary;
}

.arrow-button {
    -fx-background-color: transparent;
}

.combo-box {
    -fx-background-color: transparent;
    -fx-background-radius: 12;
    -fx-border-width: 0 0 1.2 0;
    -fx-border-color: derive(-o-dark-700, 16%);
}

.combo-box:focused {
    -fx-border-width: 0 0 2 0;
    -fx-border-color: -o-primary;
}

.box {
    -fx-background-color: transparent;
}

.check-box:selected .mark {
    -fx-fill: -o-primary;
}