@import "Palette.css"

.jfx-combo-box .text-field {
	-fx-background-color:  -o-dark-700;
    -fx-text-fill: -o-dark-300;
}

.jfx-combo-box .text-field {
    -fx-text-fill: -o-dark-300;
}

.jfx-combo-box .label {
	-fx-background:  WHITE;
	-fx-text-fill: -o-dark-300;
}

.combo-box-popup .list-cell {
    -fx-background-color: -o-dark-700;
    -fx-text-fill: -o-dark-300;
    -fx-border-width: 0;
}

.combo-box .cell:selected {
    -fx-text-fill: -o-dark-300;
    -fx-border-width: 0;
}

.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: derive(-o-dark-700, -16%);
    -fx-text-fill: -o-dark-300;
}

.combo-box .arrow {
    -fx-background-color: -o-dark-300;
    -fx-text-fill: -o-dark-300;
}