@import "Palette.css"

.list-view {
    -fx-background-color: transparent;
}

/*ListView Cell Style*/
.list-cell {
    -fx-font-family: 'Product Sans';
    -fx-font-size: 12;
    -fx-background-color: transparent;
}

.list-cell:filled:hover {
     -fx-background-color: derive(-o-dark-700, -8%);
     -fx-text-fill: -o-dark-300;
}

.list-cell:filled:selected {
    -fx-background-color: derive(-o-dark-700, -8%);
    -fx-text-fill: -o-dark-300;
}

/*To Remove Horizontal Scroll-Bar*/
.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding: 0;
}

/*Adjusting Scroll-Bar Style*/
.list-view .scroll-pane {
    -fx-background-color: transparent;
}

.list-view .scroll-bar .increment-button {
    visibility: hidden;
}

.list-view .scroll-bar .decrement-button {
    visibility: hidden;
}

.list-view .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.list-view .scroll-bar:vertical .track-background {
    visibility: hidden;
}

.list-view .scroll-bar:vertical .track,
.list-view .scroll-bar:vertical .track {
    visibility: hidden;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: derive(-o-dark-700, -8%);
    -fx-background-radius: 5em;
}