* {

    -o-primary       : #1473e6;
    -o-primary-light : #428feb;
    -o-primary-dark  : #0f64d2;

    -o-success       : #28a745;
    -o-info          : #17a2b8;
    -o-warning       : #ffc107;
    -o-danger        : #dc3545;

    -o-dark-100      : #F5F5F5;
    -o-dark-200      : #EEEEEE;
    -o-dark-300      : #cdcdcd;
    -o-dark-400      : #9E9E9E;
    -o-dark-500      : #979797;
    -o-dark-600      : #616161;
    -o-dark-700      : #424242;
    -o-dark-800      : #212121;
    -o-dark-900      : #1b1b1b;

}