@import "Palette.css"

#taskCellVBox {
    -fx-background-color: -o-dark-700;
    -fx-background-radius: 12;
    -fx-padding: 16;
    -fx-spacing: 16;
}

#taskCellVBox:hover {
    -fx-background-color: derive(-o-dark-700, -8%);
}

#taskCellVBox:hover #moreButtonIcon {
    -fx-opacity: 100;
}