@import "Palette.css";

.text-area {
    -fx-text-fill: -o-dark-300;
}

.text-area .scroll-bar {
    -fx-background-color: transparent;
}

.text-area .scroll-bar :vertical {
    -fx-background-color: transparent;
}

.text-area .scroll-bar .thumb {
    -fx-background-color: derive(-o-dark-700, -8%);
}

.text-area .scroll-bar:vertical .track {
    visibility: hidden;
}

.text-area .scroll-bar-vertical .increment-button,
.text-area .scroll-bar-vertical .decrement-button,
.text-area .scroll-bar:vertical .increment-arrow,
.text-area .scroll-bar:vertical .decrement-arrow {
    visibility: hidden;
}

.text-area .increment-button,
.text-area .decrement-button {
    -fx-background-color: transparent;
}